@media screen and (max-width: 1380px){
    .intro{
        padding: 2rem;
    }
    .intro .left{
        padding-right: 2rem;
        padding-left: 2rem;
    }

    /* Services  */
    #boxes{
        width: 100vw;
    }
    
    .box{
        width: 40%;
    }

    /* CALL ME  */
    #callMe .left{
        width: 50%;
    }
}

@media screen and (max-width: 1300px){
    /* Details  */
    #details .right-area{
        margin-left: 3rem;
        margin-right: 10.5rem;
    }

    #details-2 .left-area-2{
        width: 28rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }


    /* Our Team  */
    #ourTeam .content{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    /* About */
    #about .inner-div{
        margin: 0 6.25rem;
    }

    /* FOOTER  */
    #footer .footer-container{
        margin: 0 6.25rem;
    }

    /* CONTACT  */
    #contact .contact-container{
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1000px){
    /* Details  */
    #details{
        flex-direction: column;
    }
    #details .details-left{
        height: 27rem;
        width: 100vw;
    }

    #details-2{
        flex-direction: column;
    }
    #details-2 .details-right-2{
        height: 27rem;
        width: 100vw;
    }


    #details .right-area{
        width: 85vw;
    }

    #details-2 .left-area-2{
        width: 85vw;
    }

    /* Our Team  */
    #ourTeam .content .heading p{
        margin: 2rem 9.375rem;
    }

    /* FOOTER  */
    #footer .footer-container{
        margin: 0 3.25rem;
    }
}

@media screen and (max-width: 1091px){
    .intro{
        flex-direction: column;
    }

    .intro .left{ 
        width: 100vw;
    }
    .intro .right{
        width: 90vw;
    }
    .intro .right-img{
        width: 100%;
    }
    #cards{
        padding: 0 5rem;
    }

    /* Services  */
    #boxes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 60%;
    }

    /* SWIPER  */
    #swiper .container{
        width: 90vw;
    }

    #about .inner-div{
        flex-direction: column;
        align-items: center;
    }

    #about .inner-div .left{
        width: 80vw;
    }

    #about .inner-div .right{
        width: 80vw;
    }

}

@media screen and (max-width: 978px){
    .header-content .container{
        width: 100%;
    }

    #cards{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #cards .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #cards .card{
        width: 95vw;
    }

    #details-2 .left-area-2{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }


    /* CALL ME  */
    #callMe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #callMe .left{
        width: 90%;
    }
    #callMe .right{
        width: 90%;
    }

    /* CONTACT  */
    #contact .contact-container .contact-row{
        flex-direction: column;
        align-items: center;
    }

    #contact .contact-right{
        width: 80vw;
    }
    #contact .contact-left{
        width: 80vw;
    }
}

@media screen and (max-width: 900px){
    #navbar{
        padding: 1rem 2rem;
        width: 100vw;
    }

    #navbar ul .hexagon{
        display: none;
    }

    #footer .footer-container{
        flex-direction: column;
    }

    #footer .footer-container .footer-para{
        width: 60vw;
    }
}

@media screen and (max-width: 740px){
    header{
        padding-top: 5rem;
        padding-bottom: 5rem; 
    }

    #navbar{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #navbar img{
        padding: 0.5rem;
    }

    #navbar ul{
        display: none;
    }

    .box {
        width: 85%;
    }

    /* Our Team  */
    #ourTeam .content .heading p{
        margin: 2rem 3.125rem;
    }
}

@media screen and (max-width: 600){
    /* ABOUT */
    #about .inner-div{
        margin: 0 3rem;
    }
}

@media screen and (max-width: 482px){
    /* HOME  */
    .container .header-p {
        font-size: 1.1rem;
        margin: 0 1rem 2rem 1rem;
    }
    
    .box {
        width: 100%;
        margin: auto;
    }

    #details{
        flex-wrap: wrap;
    }

    #details .details-right .right-area{
        margin-right: 0rem;
    }
    #details-2 ul{
        flex-wrap: wrap;
    }


    #details .right-area {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0.5rem;
        margin-right: 5rem;
    }

    #details-2 .left-area-2 {
        margin-left: 2rem;
    }

    /* my Team  */
    #ourTeam .content{
        margin: 2rem 0rem;
    }

    #ourTeam .content .heading p{
        margin: 2rem 0rem;
    }

    /* FOOTER  */
    #footer .footer-container{
        margin: 0 1rem;
    }

    #footer .footer-container .footer-para{
        width: 90vw;
    }
}